@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    margin: 0;
    color: white;
    background-color: black;
    font-family: "Pixelify Sans", sans-serif;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

button {
    min-width: 256px;
    min-height: 32px;
    font-family: "Pixelify Sans", sans-serif;
    color: white !important;
    transition: 0.5s;
    background-color: rgba(20, 20, 20, 0.5);
    border: 1px solid black;
}

button:hover {
    min-width: 256px;
    min-height: 32px;
    font-family: "Pixelify Sans", sans-serif;
    color: yellow !important;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
}

button:disabled {
    background-color: rgba(150, 150, 150, 0.5);
    color: black;
}

button:disabled:hover {
    color: white !important;
}


.backButton {
    margin-left: 5px;
    margin-top: 5px;
    width: 64px !important;
    height: 32px !important;
}

/* hidden ALWAYS wins */
.hidden {
    display: none !important;
}

/* active ALWAYS visible */
.active {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10 !important;
}

.screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    background-color: black;
}

#loadingScreen {
    background: url('/src/assets/textures/important/background.png') !important;
    background-size: cover !important;
    background-position: center !important;
    color: white;
    z-index: 4;
}

.loadScreen-LoadingContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorBtn {
    z-index: 99999;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
}

/* LOADING ICON */

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: #f961ac;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* ==== CLICK TO CONTINUE ==== */
#ClickToContinue {
    background: url('/src/assets/textures/important/background.png');
    z-index: 5;
    background-size: cover;
    background-position: center;

}

#ClickToContinue button {
    margin-top: 25%;
}



/* ==== MAIN MENU ==== */
#MainMenu {
    /*background: url('/src/assets/textures/important/background.png');*/
    background-size: cover;
    background-position: center;
    z-index: 5;
}

#bg {
    position: fixed;
    inset: 0;

    background: url('/src/assets/textures/important/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1; /* stays behind everything */
}

#MainMenu .title {
    font-size: 62px;
}

#MainMenu .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#MainMenu .button-container .main-buttons {
    width: 256px;
    height: 32px;
}

#MainMenu #updateText {
    position: fixed;
    bottom: 0;
    margin-left: 10px;
}

/* ==== CREDITS ====*/
#Credits {
    background: url('/src/assets/textures/important/background.png');
    z-index: 5;
    background-size: cover;
    background-position: center;
}

#Credits .title {
    font-size: 62px;
}

#Credits .credits {
    background-color:  rgba(20, 20, 20, 0.5);
    background-size: 100% 100%;
    height: 512px;
    width: 512px;
    justify-self: center;
    box-sizing: border-box;
    padding: 40px 40px 100px 40px;
    overflow-y: auto;
    border: 1px solid black;
}

#Credits .credits-text {
    margin-left: 5px;
}

/* ==== SETTINGS ==== */
#Settings {
    background: url('/src/assets/textures/important/background.png');
    z-index: 5;
    background-size: cover;
    background-position: center;
}

#Settings .title {
    font-size: 62px;
}

/* ==== CREATE NEW WORLD ====*/
#CreateNewWorld {
    background: url('/src/assets/textures/important/background.png');
    z-index: 5;
    background-size: cover;
    background-position: center;
}

#CreateNewWorld .title {
    font-size: 62px;
}

#CreateNewWorld #worldNameInput {
    background-color:  rgba(20, 20, 20, 0.5);
    border: 1px solid black;
    height: 32px;
    width: 256px;
    color: white;
}

#CreateNewWorld #worldNameInput::placeholder {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
}


/* ==== GAME ==== */
#game {
    height: 100vh;
    width: 100vw;
}
